@model IEnumerable<ControlEquiposComputo.Models.Incidente>

@{
    ViewData["Title"] = "Incidentes";
}

<h1>Incidentes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Incidente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Uso de Equipo</th>
            <th>Fecha del Incidente</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UsoEquipo.Actividad</td>
                <td>@item.FechaIncidente.ToShortDateString()</td>
                <td>@item.Descripcion</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IncidenteID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IncidenteID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
