@model ControlEquiposComputo.Models.UsoEquipo

@{
    ViewData["Title"] = "Eliminar Uso de Equipo";
}

<h2>Eliminar Uso de Equipo</h2>

<h3>¿Está seguro que desea eliminar este uso de equipo?</h3>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Equipo</dt>
        <dd class="col-sm-10">@Model.Equipo.Marca</dd>
        <dt class="col-sm-2">Usuario</dt>
        <dd class="col-sm-10">@Model.Usuario.Nombre</dd>
        <dt class="col-sm-2">Fecha de Uso</dt>
        <dd class="col-sm-10">@Model.FechaUso.ToShortDateString()</dd>
        <dt class="col-sm-2">Hora Inicio</dt>
        <dd class="col-sm-10">@Model.HoraInicio</dd>
        <dt class="col-sm-2">Hora Fin</dt>
        <dd class="col-sm-10">@Model.HoraFin</dd>
        <dt class="col-sm-2">Actividad</dt>
        <dd class="col-sm-10">@Model.Actividad</dd>
    </dl>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="UsoEquipoID" />
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
