@model ControlEquiposComputo.Models.UsoEquipo

@{
    ViewData["Title"] = "Editar Uso de Equipo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<form asp-action="Edit" method="post">
    @Html.HiddenFor(m => m.UsoEquipoID)

    <div class="form-group">
        @Html.LabelFor(m => m.EstudianteID)
        @Html.DropDownListFor(m => m.EstudianteID, (SelectList)ViewData["EstudianteID"], "Seleccione un estudiante", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EstudianteID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EquipoID)
        @Html.DropDownListFor(m => m.EquipoID, (SelectList)ViewData["EquipoID"], "Seleccione un equipo", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EquipoID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ClaseID)
        @Html.DropDownListFor(m => m.ClaseID, (SelectList)ViewData["ClaseID"], "Seleccione una clase", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ClaseID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Actividad)
        @Html.TextBoxFor(m => m.Actividad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Actividad)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RegistrarIncidente)
        @Html.CheckBoxFor(m => m.RegistrarIncidente, new { @id = "RegistrarIncidente" })
    </div>

    <div class="form-group" id="incidenteField">
        @Html.LabelFor(m => m.Incidentes)
        @Html.TextAreaFor(m => m.Incidentes, new { @class = "form-control", rows = 3 })
        <div class="form-group">
            @Html.Label("Cargar Imagen")
            <input type="file" name="imagenArchivo" class="form-control" accept="image/*" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#RegistrarIncidente').change(function () {
                if ($(this).is(':checked')) {
                    $('#incidenteField').show();
                } else {
                    $('#incidenteField').hide();
                    $('#UsoEquipo_Incidentes').val(''); // Limpiar el campo
                }
            });

            // Mostrar el campo si ya se registró un incidente
            if ($('#UsoEquipo_Incidentes').val().length > 0) {
                $('#RegistrarIncidente').prop('checked', true);
                $('#incidenteField').show();
            }
        });
    </script>
}
