@model ControlEquiposComputo.Models.UsoEquipo

@{
    ViewData["Title"] = "Editar Uso de Equipo";
}

<h1>@ViewData["Title"]</h1>

<div class="btn btn-primary">
    <a style="text-decoration: none; color:white" asp-action="Index">Volver a la lista</a>
</div>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(m => m.UsoEquipoID)

    <div class="form-group">
        @Html.LabelFor(m => m.EstudianteID)
        @Html.DropDownListFor(m => m.EstudianteID, (SelectList)ViewData["EstudianteID"], "Seleccione un estudiante", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EstudianteID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EquipoID)
        @Html.DropDownListFor(m => m.EquipoID, (SelectList)ViewData["EquipoID"], "Seleccione un equipo", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EquipoID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ClaseID)
        @Html.DropDownListFor(m => m.ClaseID, (SelectList)ViewData["ClaseID"], "Seleccione una clase", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ClaseID)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Actividad)
        @Html.TextBoxFor(m => m.Actividad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Actividad)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RegistrarIncidente)
        @Html.CheckBoxFor(m => m.RegistrarIncidente, new { @id = "RegistrarIncidente" })
    </div>

    <div class="form-group" id="incidenteField" style="display:none;">
        @Html.LabelFor(m => m.Incidentes)
        @Html.TextAreaFor(m => m.Incidentes, new { @class = "form-control", rows = 3 })
    </div>

    <div class="form-group">
        @Html.Label("Imagen actual")
        @if (!string.IsNullOrEmpty(Model.Imagen))
        {
            <div>
                <img src="@Model.Imagen" alt="Imagen actual" style="max-width: 100px;" />
            </div>
        }
        else
        {
            <p>No hay imagen disponible</p>
        }

        <div class="form-group">
            @Html.Label("Cargar nueva imagen")
            <input type="file" name="imagenFile" class="form-control" accept="image/*" />
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar cambios" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            var incidenteCheckbox = $('#RegistrarIncidente');
            var incidenteField = $('#incidenteField');

            function toggleIncidenteField() {
                if (incidenteCheckbox.is(':checked')) {
                    incidenteField.show();
                } else {
                    incidenteField.hide();
                    $('#UsoEquipo_Incidentes').val(''); 
                }
            }

            incidenteCheckbox.change(function () {
                toggleIncidenteField();
            });

            
            toggleIncidenteField();
        });
    </script>
}
