@model IEnumerable<ControlEquiposComputo.Models.UsoEquipo>

@{
    ViewData["Title"] = "Uso de Equipos";
}

<h1>Uso de Equipos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Uso de Equipo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Equipo</th>
            <th>Clase</th>
            <th>Fecha de Asignación</th>
            <th>Actividad</th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Estudiante.Nombre</td>
                <td>@item.Equipo.NumeroEquipo</td>
                <td>@item.Clase.NombreClase</td>
                <td>@item.Clase.Inicio.ToShortDateString()</td>
                <td>@item.Actividad</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsoEquipoID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.UsoEquipoID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
