@model IEnumerable<ControlEquiposComputo.Models.UsoEquipo>

@{
    ViewData["Title"] = "Lista de Uso de Equipos";
}

<h2>Uso de Equipos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nuevo Uso</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Equipo</th>
            <th>Usuario</th>
            <th>Fecha de Uso</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Actividad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Equipo.Marca</td>
                <td>@item.Usuario.Nombre</td>
                <td>@item.FechaUso.ToShortDateString()</td>
                <td>@item.HoraInicio</td>
                <td>@item.HoraFin</td>
                <td>@item.Actividad</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsoEquipoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.UsoEquipoID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.UsoEquipoID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
