@model IEnumerable<ControlEquiposComputo.Models.UsoEquipo>

@{
    ViewData["Title"] = "Lista de Usos de Equipo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Uso de Equipo</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Equipo</th>

            <th>Clase</th>
            <th>Actividad</th>

            <th>Incidentes</th>
            <th>Imagen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var uso in Model)
        {
            <tr>
                <td>@uso.Estudiante.Nombre</td>
                <td>@uso.Equipo.NumeroEquipo</td>
                <td>@uso.Clase.NombreClase</td>
                <td>@uso.Actividad</td>
                <td>
                    @if (!string.IsNullOrEmpty(uso.Incidentes))
                    {
                        @uso.Incidentes
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(uso.Imagen))
                    {
                        <img src="@uso.Imagen" alt="Imagen del equipo" style="max-width: 100px;" />
                    }
                    else
                    {
                        <span>No hay imagen disponible</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@uso.UsoEquipoID" class="btn btn-warning">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@uso.UsoEquipoID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
