@model IEnumerable<ControlEquiposComputo.Models.Laboratorio>

@{
    ViewData["Title"] = "Laboratorios";
}

<h1>Laboratorios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Laboratorio</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Capacidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreLaboratorio</td>
                <td>@item.Ubicacion</td>
                <td>@item.Capacidad</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LaboratorioID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.LaboratorioID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
