@model IEnumerable<ControlEquiposComputo.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UsuarioID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.UsuarioID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.UsuarioID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
