@model IEnumerable<ControlEquiposComputo.Models.Equipo>

@{
    ViewData["Title"] = "Equipos";
}

<h1>Equipos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Equipo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Número de Equipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Estado</th>
            <th>Laboratorio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NumeroEquipo</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Estado</td>
                <td>@item.Laboratorio.NombreLaboratorio</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EquipoID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.EquipoID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
