@model IEnumerable<ControlEquiposComputo.Models.Mantenimiento>

@{
    ViewData["Title"] = "Lista de Mantenimientos";
}

<h2>Mantenimientos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Registrar Nuevo Mantenimiento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Equipo</th>
            <th>Técnico</th>
            <th>Fecha de Mantenimiento</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Equipo.Marca</td>
                <td>@item.Tecnico.Nombre</td>
                <td>@item.FechaMantenimiento.ToShortDateString()</td>
                <td>@item.Descripcion</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MantenimientoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.MantenimientoID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.MantenimientoID">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
