@model IEnumerable<ControlEquiposComputo.Models.Mantenimiento>

@{
    ViewData["Title"] = "Mantenimientos";
}

<h1>Mantenimientos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Mantenimiento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Técnico</th>
            <th>Equipo</th>
            <th>Fecha de Mantenimiento</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Tecnico.Nombre</td>
                <td>@item.Equipo.NumeroEquipo</td>
                <td>@item.FechaMantenimiento.ToShortDateString()</td>
                <td>@item.Descripcion</td>
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MantenimientoID" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.MantenimientoID" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
