@model IEnumerable<ControlEquiposComputo.Models.Clase>

@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Sistema de Gestión de Uso de Equipos de Cómputo</h2>
            <p class="lead">
                Este sistema permite gestionar el uso de equipos de cómputo en la facultad de Ingeniería de Sistemas. 
                Los usuarios pueden registrar, editar y visualizar los detalles del uso de los equipos, incluyendo el estudiante asignado, 
                la clase en la que se utiliza el equipo, la actividad realizada y cualquier incidente que ocurra durante su uso. 
                Además, permite subir imágenes relacionadas con los equipos o los incidentes registrados, lo que proporciona un mayor control y trazabilidad.
            </p>
            <img src="/images/imagennnn.jpg" alt="Vista del sistema de gestión de equipos de cómputo" class="img-fluid mt-3" style="max-width: 400px;" />
        </div>
    </div>
</div>


<h2>Seleccionar Clase</h2>

<!-- Selector de clase -->
<div class="form-group">
    <label for="claseSelector">Seleccionar Clase:</label>

    <select id="claseSelector" class="form-control">
        <option value="">-- Seleccionar Clase --</option>

        
        @foreach (var clase in Model)
        {
            <option value="@clase.ClaseID">@clase.NombreClase     -    Fecha @clase.Inicio.ToShortDateString()   -   Inicio  @clase.Inicio.ToShortTimeString()   -   Fin  @clase.Fin.ToShortTimeString()</option>            
        }
    </select>
   
</div>



<!-- Div para mostrar la fecha de la clase -->
<div id="fechaClaseResult" class="mt-4"></div>

<div id="usoEquiposResult" class="mt-4"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $("#claseSelector").change(function () {
                var claseId = $(this).val();
                if (claseId) {
                    $.ajax({
                        url: '@Url.Action("GetUsoEquiposPorClase", "Home")',
                        data: { claseId: claseId },
                        success: function (result) {
                            $("#usoEquiposResult").html(result);
                        }
                    });
                } else {
                    $("#usoEquiposResult").html('');
                }
            });
        });

         $.ajax({
                        url: '@Url.Action("GetFechaClase", "Home")',
                        data: { claseId: claseId },
                        success: function (fecha) {
                            $("#fechaClaseResult").html("<strong>Fecha de la clase: </strong>" + fecha);
                        }
                    });
    </script>
}
