@model IEnumerable<ControlEquiposComputo.Models.Clase>

@{
    ViewData["Title"] = "Clases y Uso de Equipos";
}

<h2>Seleccionar Clase</h2>

<!-- Selector de clase -->
<div class="form-group">
    <label for="claseSelector">Seleccionar Clase:</label>

    <select id="claseSelector" class="form-control">
        <option value="">-- Seleccionar Clase --</option>

        
        @foreach (var clase in Model)
        {
            <option value="@clase.ClaseID">@clase.NombreClase     -    Fecha @clase.Inicio.ToShortDateString()   -   Inicio  @clase.Inicio.ToShortTimeString()   -   Fin  @clase.Fin.ToShortTimeString()</option>            
        }
    </select>
   
</div>

<!-- Div para mostrar la fecha de la clase -->
<div id="fechaClaseResult" class="mt-4"></div>

<div id="usoEquiposResult" class="mt-4"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $("#claseSelector").change(function () {
                var claseId = $(this).val();
                if (claseId) {
                    $.ajax({
                        url: '@Url.Action("GetUsoEquiposPorClase", "Home")',
                        data: { claseId: claseId },
                        success: function (result) {
                            $("#usoEquiposResult").html(result);
                        }
                    });
                } else {
                    $("#usoEquiposResult").html('');
                }
            });
        });

         $.ajax({
                        url: '@Url.Action("GetFechaClase", "Home")',
                        data: { claseId: claseId },
                        success: function (fecha) {
                            $("#fechaClaseResult").html("<strong>Fecha de la clase: </strong>" + fecha);
                        }
                    });
    </script>
}
